
.portfolioHero{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100vw;
    
  }
  #centerHero{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 0vw;
    
  }
  .portfolioHero img {
    width: 400px;
    margin-left: -30rem;
  }
  .heroInfo{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
  }
  .heroInfo h1{
        font-size: 4rem;
        color: #0c0c0c;
  }

.skillsSet{
    width: 40vw;
    text-align: justify;
    font-size: 1rem;
    color: #626262;

}
.about{
    font-size: 1.8rem;
    margin-top: -1rem;
    margin-bottom: -.5rem;
}
.bottons{
    display:flex;
    list-style-type: none;
    gap: 0 1rem;
    padding: 1rem 0rem;
}
.navLinks1{
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #1795D4;
    font-weight: 700;
   cursor: pointer;
   color: #f5f5f7;
}
.navLinks2{
    background-color: #FF661A;

}
.navLinks3{
    background-color: #eb2eac;

}

@media only screen and (max-width: 768px) {

 
.portfolioHero{
  flex-wrap: wrap;
}
.portfolioHero img {
  width: 400px;
  margin: 0;
}
  
}

@media only screen and (max-width: 600px) {
    #centerHero{
        width: 100vw;
        flex-wrap: wrap;
      }
      .portfolioHero img {
        width: 290px;
        margin: 0;
      }

     .heroInfo{
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
  }
  .skillsSet{
    width: 80%;
    text-align: justify;
    font-size: 1rem;

}
.bottons{
    display:flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 0 .5rem;
}
 
}   
 

