
  


  .container-sm{
    display: flex;

  }
  .card {
      position: relative;
      -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      background-color: #FFF;
      border-radius: 6px;
      height: 400px;
      overflow: hidden;
      width: 350px;
      margin: 40px auto;
  }
    
    .shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: linear;
      background: #E5F0FB;
      background: linear-gradient(to right, #c1dceb 4%, #a3cbe1 25%, #c1dceb 36%);
      background-size: 1200px 100%;
  }
  
  
  @-webkit-keyframes shimmer {
      0% {
          background-position: -100% 0;
      }
      100% {
          background-position: 100% 0;
      }
  }
  
  @keyframes shimmer {
      0% {
          background-position: -1200px 0;
      }
      100% {
          background-position: 1200px 0;
      }
  }
    
      .media {
      height: 200px;
  }
  
  .p-32 {
      padding: 32px;
  }
  
  .title-line {
      height: 24px;
      width: 100%;
      margin-bottom: 12px;
      border-radius: 20px;
  }
  
  .content-line {
      height: 8px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
  }
    
    .end {
        width: 40%;
      }
  

  
  
  .m-t-24 {
      margin-top: 24px;
  }
  .headerContainer{
    display: flex;
    gap: 3rem;
  }
  .header{
    /* display: flex; */
    width: 96vw;
    height: 70px;
}
.media2{
    display: flex;
    background-size: 1200px 100%;
}
.media3{

    height: 70px;
    width: 90vw;
    border-radius: 1rem;
}
.m4{
    width: 20vw;
}