.portfolioFooter{
    border-top: 1px solid #464646;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .portfolioFooter h4{
    font-size: .9rem;
    color: #464646;
  }
  .portfolioFooter p{
    color: #464646;
  }
  .followMe h4 a{
     text-decoration: none;
     color: #464646;
  }