a {
    text-decoration: none;
    color: #000;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
  }
  
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }
  .site-navigation li a{
    font-size: 1rem;
  }
  .site-navigation li a:hover{
    color: #FDC632;
  }
  .logo-bar{
    font-size: 1.8rem;
  }
  .logo-bar span{
    font-size: 1.8rem;
    color: #FDC632;
  }
  .logoOfToss{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    border-radius: 44% 56% 22% 78% / 44% 87% 13% 56% ;
    padding:1px;
  }
 
  @media only screen and (max-width: 768px) {

    .site-header { 
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 60px;

    }
    
  }




  @media only screen and (max-width: 600px) {
    .site-header { 
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 60px;

    }
   .nav{
    display: flex;
   
   }
   .site-navigation li {
    margin: 0 8px;
   
  }


  }

