
.billDivParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .5rem;
    gap: 1rem;
    margin: 1rem;
}

.billDiv{
    /* border: 1px solid red; */
    min-width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.billImg{
    width: 150px;
}
.billName{
    /* border: 1px solid green; */
    min-width: 320px;
}
.btn-Bill{
    border: none;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    margin: 0 .5rem;

}

button{
    cursor: pointer;
}
.billPriceTotal{
    border: 1px dashed green;
    min-width: 720px;
    display: flex;
    justify-content: space-around;

}
.checkout{
    min-width: 230px;
    font-size: 1.8rem;
    border: none;
    background-color: green;
    border-radius: .3rem;
    color: #fdfdfd;
    padding: 0.5rem;
    margin: .5rem;
}
.clear-cart{
    background-color: red;
}