.card {
    padding: 10px;
    max-width: 260px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: .5rem 1.5rem;
  }
  
  .content {
    margin-top: 1rem;
  }
  
  .content .header {
    margin-top: 0.5rem;
  }
  
  .theImg{
    width: 100%;
  }
  
  .tag {
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
  }
  
  .date {
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    margin: 2px;
  }
  
  .title {
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 14px;
  }
  
  .description {
    line-height: 1.5rem;
    width: 100%;
    /* border: 1rem solid blue; */
    overflow: hidden;
    font-size: .8rem;
    color:#a6a6a6;
  }

  #rate{
    background-color: rgb(9, 183, 9);
    padding: 5px;
    border-radius: 0.2rem;
    color: #fff;
    margin-left: 8.5rem;
  }
  #prize{
    width: 110px;
    margin-left: 7rem;
    color: #000;
  }
